<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/products">Inventory</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample" aria-controls="navbarsExample" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExample">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/products/add" routerLinkActive="active">Add Product</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/orders/place" routerLinkActive="active">Place Order</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/orders" routerLinkActive="active">Order History</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container mb-5">
  <router-outlet />
</div>


<router-outlet />
